

#create-color {
    text-decoration: underline;
    color: violet;
}

#create-color:hover {
    color:white;
    cursor:pointer
}

.color-factory {
    color: yellow;
    background-color: silver;
}
.colors {
    cursor: pointer;
}